@import "tailwindcss";
@tailwind utilities;

@theme {
    --color-primary: #7c3aed;
    --color-primary-dark: #6d28d9;

    --color-background-dark: #0f0e13;
    --color-surface-dark: #18181b;
    --color-surface-dark-hover: #27272a;
    --color-border-dark: #27272a;

    --font-display: "Inter", sans-serif;

    --radius-lg: 1rem;
    --radius-xl: 1.5rem;
}

body {
    background-color: var(--color-background);
    color: var(--color-primary);
}::-webkit-scrollbar {
     width: 8px;
     height: 8px;
 }
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: #3f3f46;
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
    background: #52525b;
}

.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
    display: inline-block;
    line-height: 1;
    font-style: normal;
    font-weight: normal;
    /*speak: none;*/
}